@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("/bg.jfif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}


/* scrollbar  */

::-webkit-scrollbar{
  cursor: pointer;
  width:8px;
}

::-webkit-scrollbar-track{
  cursor:pointer;
  background: #8a8787;
}

::-webkit-scrollbar-thumb{
  cursor: pointer;
  background:#3b3a3a
}

::-webkit-scrollbar-thumb:hover{
  background:#343434
}